
.card.blue {
 background-color: #0000ff;
}
.card.green {
    background-color: #008000;
}
.card.red {
    background-color: #ff0000;
}
.card.orange {
    background-color: #FFA500;
}
.card.empty 
{
    outline-style: dotted;
    box-shadow: 0 0 0 0;
    color: #B3B3B3;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.card {
    color: #FFFBE9;
    padding: 4px;
    border-radius: 8px;
    margin: 4px;
    -moz-box-shadow: 4px 4px 0px #000;
    -webkit-box-shadow: 4px 4px 0px #000;
    box-shadow: 4px 4px 0px #000;
    width: 55px;
    height: 75px;
    display: inline-block;
}